body {
   background: rgb(20, 20, 20);
   color: whitesmoke;
   font-family: 'Arial';
   overflow: hidden;
   
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 100vh;
}

p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: inherit;
   outline: none;
}

.container {
   display: flex;
   flex-direction: column;
   padding: 32px 64px;
   /* margin: 16px; */
   background-color: rgb(31, 31, 31);
   border-radius: 10px;
   width: 270px;
   transition: 0.44s ease;
}

.container:hover {
   transform: translateY(-5px)
}

.profile-picture-container {
   display: flex;
   justify-content: center;
   margin-bottom: 2rem;
}

.profile-picture {
   border-radius: 50%;
   width: 80px;
}

.info-container {
   text-align: center;
}

.user-container {
   margin-bottom: 1.2rem;
}

.name {
   font-size: 20px;
   margin-bottom: 0.5rem;
   font-weight: 700;
}

.location {
   font-size: 11px;
   font-weight: 700;
   color: rgb(197, 248, 42);
   margin-bottom: 1.8rem;
}

.description {
   font-size: 12px;
   margin-bottom: 1.2rem;
}

.socials-container {
   display: flex;
   flex-direction: column;
   height: 250px;
   justify-content: space-between;
   text-align: center;
}

.social {
   cursor: pointer;
   background-color: rgb(51, 51, 51);
   border-radius: 6px;
   /* padding: 0.8rem 1.5rem; */
   padding: 10px;
   font-weight: 600;
   font-size: 14px;
}

.social:hover {
   background-color: rgb(197, 248, 42);
   color: black;
}